/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
    color: blue;
}

h1 {
    color: green;
}



table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
